/* Pantallas de PC */

@media only screen and (max-width:1366px){
    #creditos{
        background-image: linear-gradient(90deg,#3fa6dc,#e22777);
        color:white;
        text-align: right;
    }
}

/* Pantallas de smartphone */

@media only screen and (max-width:550px){
    .categoria .descripcion{
        margin:0 auto;
    }
}

#presentacion{
    text-align:center;
}

#map{
    width: 70%;
    height: 65%;
    margin: 0 auto;
}


.barBusqueda{
    margin: 0 auto;
}

.row{
    width:100%;
}

.form-row{
    width:100%;
}

#descripcionBusqueda{
    background-color:#f07fb6;
    color: white;
    width:80%;
}
#descripcionBusqueda::placeholder{
    color: white;
}

#categoria{
    background-color:#86cfdb;
    color:white;
    width:80%
}

.curva{
    border-radius: 10px 10px 0 0;
}

.editarForm{
    background-color: #F9B540;
    border-color: #F9B540;
}

.agregarPal{
    background-color: #6cb862;
    border-color: #6cb862;
}

.histoRech{
    background-color: #e72b86;
    border-color: #e72b86;
}

.agregarAdm{
    background-color: #1fb3af;
    border-color: #1fb3af;
}

.dirCorreo{
    color:gold;
}

.dirCorreo:hover{
    color:gold;
}

textarea {
    resize: none;
}

table th td {
    width: auto !important;
}

.modal-open[style] {
    padding-right: 0px !important;
}
