/* Pantallas de PC */

@media only screen and (max-width:1366px){

}

/* Pantallas de smartphone */

@media only screen and (max-width:550px){
    .categoria .descripcion{
        margin:0 auto;
    }
}

#presentacion{
    text-align:center;
}

#map{
    width: 70%;
    height: 65%;
    margin: 0 auto;
}

.barBusqueda{
    margin: 0 auto;
}

.row{
    width:100%;
}

.form-row{
    width:100%;
}

input[type=text]{
    border:none;
    border-bottom: 1px solid;
}

textarea {
    resize: none;
}

table th td {
    width: auto !important;
}