/* Pantallas de PC */

@media only screen and (max-width:1366px){
    .barra{
        background-image: linear-gradient(90deg,#3fa6dc,#e22777);
        width:100%;
        display:inline-block;
    }

    .barra a{
        font-family: 'Poppins';
        float: right;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        padding: 8px 10px;
        color:white;
    }

    .barDropdown{
        display:none;
    }
}

/* Pantallas de smartphone */

@media only screen and (max-width:550px){
    .barDropdown{
        background-image: linear-gradient(90deg,#3fa6dc,#e22777);
        width:100%;
        display:inline-block;
    }

    .barra a{
        display: none;
    }

    .opcion a{
        font-family: 'Poppins';
        float: right;
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        padding: 8px 10px;
        color:white;
    }
}

#banner{
    width:100%;
    height:196px;
}

.barra a:hover{
    color:gold;
    transition:2s;
}