.barranav{
    color: white;
    background-color:blue;
    font-size: 20px;
    text-align:center;
    height:38px;
}
.barranav a{
    float: right;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 10px;
    background-color:white;
    color:blue;
}

.barranav a:hover{
    background-color:blue;
    color:white;
}